.container {
  width: 100%;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  text-transform: uppercase;
}

.highlight_text {
  color: #ff4036;
  font-weight: 600;
}
